.tp-rightarrow.tparrows.hades,
.tp-leftarrow.tparrows.hades {
    display: none !important;
}

.machine-meta {
    display: flex;
    gap: 18px;
    /* space between points */
    margin-top: 2px;
}

.machine-meta span {
    font-size: 12px;
    /* small font size */
    color: #383737;
    /* gray text */
    display: flex;
    align-items: center;
    gap: 6px;
    /* space between icon & text */
}

.machine-meta span i {
    font-size: 20px;
    color: #9a9a9a;
    /* gray icon */
}

.wt-bnr-inr {
    height: 438px;
    background-size: cover;
    background-position: center center;
    display: table;
    width: 100%;
}

@media (max-width: 767px) {
    .wt-bnr-inr {
        height: 250px;
    }
}

.service-box-content {
    margin-bottom: 20px;
    border-bottom: none;
    padding-bottom: 20px;
}

.client-logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ececec;
    padding: 10px 10px;
}

/* Hide dropdown icon on mobile */
@media (max-width: 767px) {
    .fa-chevron-down {
        display: none !important;
    }
}

.whatWedo-info-section .wt-icon-card {
    margin-right: 0px;
    margin-bottom: 20px;
}

.wt-icon-card {
    padding: 12px;
}

.brand-slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.brand-slider {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: brandScroll 5s linear infinite;
}

.brand-slider:hover {
    animation-play-state: paused;
}

.brand-slider .item {
    flex: 0 0 auto;
}

.brand-slider img {
    width: 158px;
    height: 120px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.brand-slider img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* Keyframes */
@keyframes brandScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Responsive Speed */
@media (max-width: 768px) {
    .brand-slider {
        animation-duration: 05s;
    }
}

.p-t50 {
    padding-top: 50px;
}

.form-control {
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
}

.fix-size {
    font-size: 42px;
    color: #00173c;
}

/* Scroll to top */

/* Scroll To Top Button */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: 45px;
    height: 45px;
    background: #FF0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#scrollTopBtn:hover {
    background: #222;
    transform: translateY(-3px);
}

/* Floating Call Button */
.call-float {
    position: fixed;
    bottom: 30px;
    left: 30px;
    /* Opposite side of scroll-to-top */
    width: 50px;
    height: 50px;
    background: #FF0000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    z-index: 999;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.call-float:hover {
    background: #ac0000;
    color: #fff;
    transform: scale(1.1);
}